@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  font-size: 62.5%;
}

html, body{
  font-family: "Roboto", sans-serif;
}

body{
  font-size: 1.6rem;
  background-image: url(./assets/bg.avif);
  background-color: antiquewhite;
  
}

#background{
  background-color: rgba(242, 236, 235, 0.8)
}

#container{
  padding: 1.6rem;
  width: 40rem;
  height: 100vh;
  margin: 0 auto;

  text-align: center;
}

#container h1{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 4rem;
  
}

#container input{
  width: 100%;
  padding: .5rem;
  margin-bottom: 2rem;
  border-radius: .5rem;

  font-size: 1.6rem;
}

#container button{
  width: 70%;
  padding: .5rem;
  margin-bottom: 2rem;
  border-radius: .5rem;

  font-size: 1.6rem;
}

#obs{
  
  font-size: 1.5rem;
  font-weight: 900;

  padding: .3rem;
  border-radius: .5rem;

  margin-bottom: 2rem;
  
}

.description{
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}

 .description img{
  
  width: 20rem;
  aspect-ratio: 4/6;
  overflow: hidden;  
}

.info{
  display: flex;
  flex-direction: column;
  gap: .5rem;   
}

.info p{
  font-size: 2rem;
  
}
.info span{
  font-weight: 700;
}


@media(min-width:768px){
  #container{
    width: 112rem;
  }

  #container h1{
    font-size: 7rem;
  }

  #container input{
    width: 50%;
    padding: .5rem;
    margin-bottom: 2rem;
    border-radius: .5rem 0 0 .5rem;
  
    font-size: 2rem;
  }

  #container button{
    width: 10%;
    padding: .5rem;
    margin-bottom: 2rem;
    border-radius: 0 .5rem .5rem 0;
  
    font-size: 2rem;
  }

  .description{
    width: 60%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .info{
    display: flex;
    flex-direction: column;
    gap: 2rem;   
  }
  
  .info p{
    font-size: 2rem;
    text-align: left;
  }
  .info span{
    font-weight: 700;
  }
}